{% extends "base.html" %}

{% block title %}O nas{% endblock %}

{% block content %}
<div class="center-main">
    <h1>Jesteśmy zespołem pasjonatów informatyki, którzy chcą pomóc Ci wykryć plagiaty w kodzie źródłowym!</p>
    <div class="team-members">
        <div class="team-member">
            <img src="static/img/Krzysztof.png" alt="Krzysztof">
            <h3>Krzysztof</h3>
            <p>Odpowiedzialny za backend aplikacji, opracowując system kategoryzacji kodu z wykorzystaniem AI oraz mechanizmy pozyskiwania danych ze źródeł zewnętrznych. Przygotował funkcjonalność wyszukiwania podobnych kodów i przeprowadzał testy systemu.</p>
        </div>
        <div class="team-member">
            <img src="static/img/Weronika.png" alt="Weronika">
            <h3>Weronika</h3>
            <p>Główna deweloperka frontendu, zajmująca się projektem interfejsu graficznego, implementacją funkcjonalności i integracją z backendem. Stworzyła system obsługi projektu, wysyłania i analizy kodu.</p>

        </div>
        <div class="team-member">
            <img src="static/img/Nicolas.png" alt="Nicolas">
            <h3>Nicolas</h3>
            <p>Skupiał się na analizie podobieństw tekstów i metod plagiatowania kodu. Zaprojektował system miar podobieństwa oraz opracował wzorzec architektoniczny projektu.</p>

        </div>
    </div>
</div>
{% endblock %}