{% extends "base.html" %}

{% block title %}Analizuj kod{% endblock %}

{% block content %}
<div class="center-main">
    <div id="start-screen">
        <h2>Dodaj swój projekt</h2>
        <div>
            <button id="create-button">Stwórz</button>
            <button id="select-file-button">Wybierz z urządzenia</button>
            <button id="next-button">Dalej</button>
        </div>
    </div>

    <div id="editor-screen" class="hidden">
        <div id="left-panel">
            <button id="add-file">+</button>
            <div class="files">
                <p>plik1.py</p>
                <p>plik2.py</p>
            </div>
        </div>

        <div id="main-editor">
            <textarea id="code-editor" placeholder="Wpisz kod"></textarea>
        </div>

        <div id="right-panel">
            <button id="analyze-file-button" class="analyze-button">Analizuj plik</button>
            <button id="analyze-project-button" class="analyze-button">Analizuj wszystko</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const startScreen = document.getElementById("start-screen");
        const editorScreen = document.getElementById("editor-screen");
        const createButton = document.getElementById("create-button");
    
        createButton.addEventListener("click", function () {
            startScreen.classList.add("hidden");
            editorScreen.classList.remove("hidden");
        });
    });
    </script>
    

{% endblock %}
