{% extends "base.html" %}

{% block title %}Analizuj kod{% endblock %}

{% block content %}
<div class="center-main">
    <div id="add-project-screen">
        <h2>Dodaj swój projekt</h2>
        <div>
            <div id="file-list"></div>
            <button id="create-button">Stwórz</button>
            <button id="select-file-button">Wybierz z urządzenia</button>
            <input id="file-input" type="file" accept=".cpp,.py" style="display: none;">
            <button id="next-button">Dalej</button>
        </div>
    </div>

    <div id="editor-screen" style="display: none;">
        <div id="left-panel">
            <button id="add-file-button">+</button>
            <div id="files-container" class="files">
            </div>
        </div>

        <div id="main-editor">
            <textarea id="code-editor" placeholder="Wpisz kod"></textarea>
        </div>

        <div id="right-panel">
            <button id="analyze-file-button" class="analyze-button">Analizuj plik</button>
            <button id="analyze-project-button" class="analyze-button">Analizuj wszystko</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script/add-project-screen.js') }}" type="module"></script>
<script src="{{ url_for('static', filename='script/editor-screen.js') }}" type="module"></script>
{% endblock %}