<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Czyj to kod?{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="static/img/search.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="menu-bar">
                <nav>
                    <ul class="menu">
                        <li>
                            <a href="{{ url_for('home') }}" class="{{ 'active' if active_page == 'home' else '' }}">
                                {{ '# ' if active_page == 'home' else '' }}Strona główna
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('jak_to_dziala') }}" class="{{ 'active' if active_page == 'how-it-works'}}">
                                {{ '# ' if active_page == 'how-it-works' else '' }}Jak to działa?
                            </a>
                        </li>
                        <li class="logo">
                            <p class="first-line">Czyj to</p>
                            <p class="second-line">kod?</p>
                        </li>
                        <li>
                            <a href="{{ url_for('dodaj_projekt') }}" class="{{ 'active' if active_page == 'add-project' else '' }}">
                                {{ '# ' if active_page == 'add-project' else '' }}Analizuj kod
                            </a>
                        </li>
                        <li>
                            <a href="{{ url_for('o_nas') }}" class="{{ 'active' if active_page == 'about-us' else '' }}">{{ '# ' if active_page == 'about-us' else '' }}O nas

                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="transparent-gradient-bar"></div>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer>
        <p>&copy; 2025 Czyj to kod? Wszelkie prawa zastrzeżone.</p>
        <p>Zasoby zaprojektowane przez <a href="https://www.freepik.com" target="_blank" rel="noopener noreferrer">Freepik</a></p>
    </footer>
</body>
</html>
