{% extends "base.html" %}
{% set active_page = 'add-project' %}
{% block title %}Edytuj kod{% endblock %}

{% block content %}
<div class="center-main">
    <div id="editor-screen">
        <div id="left-panel">
            <div class="file-type-dropdown">
                <button id="add-file-button">+</button>
                <div id="file-type-menu" class="dropdown-content">
                    <button class="file-type-button" data-extension=".py">
                        <img src="{{ url_for('static', filename='img/python.png') }}" alt="Python" class="language-icon">
                        Python (.py)
                    </button>
                    <button class="file-type-button" data-extension=".cpp">
                        <img src="{{ url_for('static', filename='img/cpp.png') }}" alt="C++" class="language-icon">
                        C++ (.cpp)
                    </button>
                </div>
            </div>
            <div id="files-container" class="files">
            </div>
        </div>

        <div id="main-editor">
            <div id="code-editor"></div>
            <div id="no-file-message">Utwórz plik aby rozpocząć edycję</div>
        </div>

        <div id="right-panel">
            <button id="analyze-file-button" class="analyze-button" title="Analizuj aktywny plik">Analizuj plik</button>
            <button id="analyze-project-button" class="analyze-button" title="Analizuj wszystkie pliki">Analizuj wszystko</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='script/editor-screen.js') }}" type="module"></script>
{% endblock %}