{% extends "base.html" %}

{% block title %}Jak to działa?{% endblock %}

{% block content %}
<div class="how-it-works">
    <div class="section section-left">
        <h2># 01</h2>
        <h3>Lorem ipsum amet</h3>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquet maximus platea feugiat ridiculus et ante torquent lobortis et. 
            Tempor nec fusce lectus vel molestie. Himenaeos ipsum fames dapibus parturient proin conubia pellentesque. 
            Mattis vehicula montes inceptos nisi odio pulvinar finibus. Feugiat sollicitudin bibendum sodales fusce sociosqu interdum sit.
        </p>
    </div>

    <div class="section section-right">
        <h2># 02</h2>
        <h3>Lorem ipsum amet</h3>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquet maximus platea feugiat ridiculus et ante torquent lobortis et. 
            Tempor nec fusce lectus vel molestie. Himenaeos ipsum fames dapibus parturient proin conubia pellentesque. 
            Mattis vehicula montes inceptos nisi odio pulvinar finibus. Feugiat sollicitudin bibendum sodales fusce sociosqu interdum sit.
        </p>
    </div>

    <div class="section section-left">
        <h2># 03</h2>
        <h3>Lorem ipsum amet</h3>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquet maximus platea feugiat ridiculus et ante torquent lobortis et. 
            Tempor nec fusce lectus vel molestie. Himenaeos ipsum fames dapibus parturient proin conubia pellentesque. 
            Mattis vehicula montes inceptos nisi odio pulvinar finibus. Feugiat sollicitudin bibendum sodales fusce sociosqu interdum sit.
        </p>
    </div>

    <div class="section section-right">
        <h2># 04</h2>
        <h3>Lorem ipsum amet</h3>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Aliquet maximus platea feugiat ridiculus et ante torquent lobortis et. 
            Tempor nec fusce lectus vel molestie. Himenaeos ipsum fames dapibus parturient proin conubia pellentesque. 
            Mattis vehicula montes inceptos nisi odio pulvinar finibus. Feugiat sollicitudin bibendum sodales fusce sociosqu interdum sit.
        </p>
    </div>
</div>
{% endblock %}
